{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section awards-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Awards
  </h2>

  {% for awards in awards %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ awards.role }}</h3>
        <div class="time">{{ awards.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ awards.company }}</div>

    </div><!--//meta-->

    {% if awards.details %}
    <div class="details">
      {{ awards.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
