{% assign references = site.data.data.sidebar.references %}
{% if references %}
<div class="references-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled references-list">
    {% for references in references %}

      {% if references.link %}
      <li><a href="{{ references.link }}">{{ references.item }}</a></li>
      {% else %}
      <li>{{ references.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//references-->
{% endif %}
