{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    References
  </h2>

  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    {% if language.link %}
      <li><a href="{{ language.link }}">{{ language.idiom }}</a></li>
      <span class="lang-desc">({{ language.level }})</span>
      {% endif %}
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
