{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    References
  </h2>

  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    <li>
      {{ language.idiom }}
      <span class="lang-desc">({{ language.level }})</span>
    </li>
    {% if languages.link %}
      <li><a href="{{ languages.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
