{% assign presentations = site.data.data.presentations %}
{% if presentations %}
<section class="section presentations-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ presentations.title }}
  </h2>

  {% if presentations.intro %}
  <div class="intro">
    {{ presentations.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for presentations in presentations.papers %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ presentations.link }}">{{ presentations.title }}</a></li>
    {% else %}
      <li>{{ presentations.title }}</li>
    {% endif %}
    <div class="presentations-authors">{{ presentations.authors }}</div>
    <div class="presentations-conference">{{ presentations.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
