{% assign scholarships = site.data.data.scholarships %}
{% if scholarships %}
<section class="section scholarships-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Scholarships
  </h2>

  {% for scholarships in scholarships %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ scholarships.role }}</h3>
        <div class="time">{{ scholarships.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ scholarships.company }}</div>

    </div><!--//meta-->

    {% if scholarships.details %}
    <div class="details">
      {{ scholarships.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
