{% assign scholarship= site.data.data.scholarship %}
{% if scholarship %}
<section class="section scholarship-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Scholarship
  </h2>

  {% for scholarship in scholarship %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ scholarship.role }}</h3>
        <div class="time">{{ scholarship.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ scholarship.company }}</div>

    </div><!--//meta-->

    {% if scholarship.details %}
    <div class="details">
      {{ scholarship.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
